{
  "singleQuote": false,
  "printWidth": 120,
  "bracketSpacing": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "semi": true,
  "useTabs": false,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "arrowParens": "always",
  "plugins": ["prettier-plugin-tailwindcss"]
}
